{% extends 'base.html' %}
{% load findby_filter %}
{% block content %}
    <div class="container my-3 mx-4">
        <table class="table">
            <thead>
            <tr class="text-center">
                <th>no</th>
                <th>category</th>
                <th>brand</th>
                <th>product_name</th>
                <th>price</th>
            </tr>
            </thead>
            <tbody>
            {% if products %}
                {% for product in products %}
                    <tr class="text-center">
                        <td>
                            <!-- 상훔 번호 = 전체 건수 - 시작 인덱스 - 현재 인덱스 + 1 -->
                            {{ products.paginator.count|sub:products.start_index|sub:forloop.counter0|add:1 }}
                        </td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.brand }}</td> <!-- 글쓴이 추가 -->
                        <td>
                            <a href="#">{{ product.name }}</a>
                        </td>
                        <td>{{ product.price }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5"> 조회목록이 없습니다.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <!-- 페이지 네이션 -->
        <ul class="pagination justify-content-center">
            <!-- 이전 페이지 -->
            {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.previous_page_number }}">이전</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
            {% endif %}
            <!-- 페이지 리스트 -->
            {% for page_number in products.paginator.page_range %}
                {% if page_number >= products.number|add:-5 and page_number <= products.number|add:5 %}
                    {% if page_number == products.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <!-- 다음 페이지 -->
            {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.next_page_number }}">다음</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
            {% endif %}
        </ul>
        <!-- 페이지 네이션 끝 -->
    </div>
{% endblock %}