{% extends 'base.html' %}
{% load findby_filter %}
{% block content %}
    <div class="mt-5 mb-3 mx-3">
        <h3 class="mx-auto">신규 상품 등록</h3>
    </div>
    <div class="container d-flex justify-content-between" style="max-width: 100%">
        <div class="d-flex">
            <form method="post" action="{% url 'findby:search_product' %}"
                  class="row row-cols-lg-auto g-1 align-items-center">
                {% csrf_token %}
                {% if form.errors %}
                    <div>
                        {% for field in form %}
                            {% if field.errors %}
                                <div>
                                    <strong>{{ field.label }}</strong>
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="col-auto text-center">
                    <label class="visually-hidden" for="category">카테고리</label>
                    <select class="form-select" id="category" name="category">
                        <option value="">category</option>
                        <option value="신발">신발</option>
                        <option value="상의">상의</option>
                        <option value="하의">하의</option>
                        <option value="잡화">잡화</option>
                    </select>
                </div>

                <div class="col-auto">
                    <label for="contents" class="visually-hidden">검색 : </label>
                    <input name="contents" type="text" class="form-control" id="contents" placeholder="검색어를 입력하세요">
                </div>
                <div class="col-auto">
                    <input type="submit" value="조회" class="btn btn-primary" role="button">
                </div>
            </form>
            <div class="col-auto">
                <form method="post" action="{% url 'findby:delete_products' %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="선택된 상품 삭제" role="button">
                </form>
            </div>

        </div>

        <div class="d-flex align-items-center">
            <div>
                <span>테이블 분리 :</span>
            </div>
            <div>
                <form method="get" action="{% url 'findby:index' %}" id="search_category_form">
                    <label class="visually-hidden" for="search_category">카테고리</label>
                    <select class="form-select" id="search_category" name="search_category">
                        <option value=""
                                {% if not search_category or search_category == "" %}selected{% endif %}>
                            카테고리
                        </option>
                        <option value="신발" {% if search_category == "신발" %}selected{% endif %}>신발</option>
                        <option value="상의" {% if search_category == "상의" %}selected{% endif %}>상의</option>
                        <option value="하의" {% if search_category == "하의" %}selected{% endif %}>하의</option>
                        <option value="잡화" {% if search_category == "잡화" %}selected{% endif %}>잡화</option>
                    </select>
                </form>
            </div>
        </div>
    </div>


    <div class="container my-3 mx-auto" style="max-width: 100%">
        <table class="table">
            <thead>
            <tr class="text-center">
                <th></th>
                <th>no</th>
                <th>category</th>
                <th>brand</th>
                <th>product_name</th>
                <th>price</th>
            </tr>
            </thead>
            <tbody>
            {% if products %}
                {% for product in products %}
                    <tr class="text-center">
                        <td style="width: 5%">
                            <label for="select_product_id_list">
                                <input type="checkbox" name="select_product_id_list" value="{{ product.id }}"
                                       id="select_product_id_list">
                            </label>
                        </td>
                        <td style="width: 10%">
                            <!-- 상훔 번호 = 전체 건수 - 시작 인덱스 - 현재 인덱스 + 1 -->
                            {{ products.paginator.count|sub:products.start_index|sub:forloop.counter0|add:1 }}
                        </td>
                        <td style="width: 15%">{{ product.category }}</td>
                        <td style="width: 10%">{{ product.brand }}</td> <!-- 글쓴이 추가 -->
                        <td style="width: 50%">
                            <a href="{{ product.link }}" target="_blank">{{ product.name }}</a>
                        </td>
                        <td style="width: 15%">{{ product.price }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5"> 조회목록이 없습니다.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <!-- 페이지 네이션 -->
        <ul class="pagination justify-content-center">
            <!-- 이전 페이지 -->
            {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?search_category={{ search_category }}&page={{ products.previous_page_number }}">이전</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
            {% endif %}
            <!-- 페이지 리스트 -->
            {% for page_number in products.paginator.page_range %}
                {% if page_number >= products.number|add:-5 and page_number <= products.number|add:5 %}
                    {% if page_number == products.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?search_category={{ search_category }}&page={{ page_number }}">{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?search_category={{ search_category }}&page={{ page_number }}">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <!-- 다음 페이지 -->
            {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?search_category={{ search_category }}&page={{ products.next_page_number }}">다음</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
            {% endif %}
        </ul>
        <!-- 페이지 네이션 끝 -->
    </div>

    <script>
        const selectForm = document.getElementById("search_category_form");
        selectForm.addEventListener("change", () => {
            selectForm.submit()
        });
    </script>
{% endblock %}