{% load static %}
<!Doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- findby CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>find kream product</title>
</head>
<body>
<h3 class="mt-5 mb-3 mx-5">신규 등록 상품</h3>
<form class="row row-cols-lg-auto g-3 align-items-center">
    <div class="col-12 text-center mx-5">
      <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
      <select class="form-select" id="inlineFormSelectPref">
        <!-- 카테고리 셀렉트 코드를 넣어주세요-->
        <option selected value="">category</option>
        <option value="신발">신발</option>
        <option value="상의">상의</option>
        <option value="하의">하의</option>
        <option value="잡화">잡화</option>
      </select>
    </div>
    <form class="row g-3">
      <!-- input 입력창 코드를 넣어주세요 -->
      <div class="col-auto">
        <label for="search_word" class="visually-hidden">검색 : </label>
        <input type="text" class="form-control" id="search_word" placeholder="검색어를 입력하세요">
      </div>
      <div class="col-auto">
        <!-- 조회버튼 코드를 넣어주세요 -->
        <a class="btn btn-primary" href="#" role="button">조회</a>
      </div>
    </form>
</form>

<!-- 기본 템플릿 안에 삽입될 내용을 작성 -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 마침 -->
<!-- bootstrap js -->
<script src="{% static 'bootstrap.min.js' %}"></script>
</body>
</html>